
.sidebar-container {
    text-align: center;
    color: #F6F6F6;
    height: 94%;
    border-bottom: 1px solid #C0C9E3;
}
.sidebar-footer {
    margin-top: 2%;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    height: 4%;
    margin-bottom: 4px;
}
.minus-footer-icon, .plus-footer-icon {
    border: 1px solid #C0C9E3;
    padding: 1px;
    margin: 0 5px;
    text-align: center;
    min-width: 40px;
    max-width: 50px;
    border-radius: 5px;
    cursor: pointer !important;
}
.inactive {
    pointer-events: none;
    cursor: none !important;
    opacity: 0.3;
}
.minus-footer-icon svg {
    margin-top: 2px;
    margin-left: 8px;
}
.sidebar-header {
    font-size: 18px;
    padding: 3px 0;
    margin-bottom: 2%;
}
.sub-item {
    margin-left: 20px;
}
.sidebar-item {
    margin-left: 25px;
    text-align: left;
}
.sidebar-title {
    margin-left: 5px;
    font-size: 16px;
    color: #000000;
}
.sidebar-title:hover {
    font-weight: bold;
    cursor: pointer;
}
.active {
    font-weight: bold;
}
.new-panel {
    margin: 0 10%;
    width: 80%;
    padding: 1%;
    /*border-style: solid;*/
    /*border-color: #131725;*/
    /*border-width: 1px;*/
    background-color: #131725;
    border: 1px solid #5D698F;
    border-radius: 4px;
    text-align: left;
    position: absolute;
    bottom: 7%;
}
.new-panel .row {
    margin-bottom: 3%;
    margin-left: 0;
}
.new-panel .name-control {
    background-color: #131725 !important;
}
.add-new-button {
    background-color: #131725 !important;
    border-radius: 4px;
    color: #F6F6F6;
    max-height: 30px;
    font-size: 12px;
    margin-left: 0 !important;
    border: 1px solid #5D698F !important;
}
.new-label {
    font-size: 14px;
    margin-top: 2%;
}
.new-label .form-check-label {
    font-size: 13px !important;
}
.form-check-input {
    cursor: pointer !important;
}
.active {
    font-weight: bold;
}